/* Utility Classes */
.display-1 {
    font-size: 40px;
  }
  
  /* Navbar */
  /* #navbar {
    border: 1px solid #000;
    margin: 50px;
    padding: 20px;
  } */
  
  #navbar .logo {
    float: none;
    text-align: center;
    padding-bottom: 10px;
  }
  
  #navbar ul li a {
    padding: 10px;
  }
  
  /* Showcase */
  #showcase img {
    height: 300px;
  }
  
  /* Product */
  #product h2 {
    padding-bottom: 20px;
  }
  
  #product h4 {
    padding-bottom: 20px;
  }
  
  .product-box {
    border: none;
    padding: 20px;
    height: 100%;
    margin-top: 0px;
  }
  
  .product-box img {
    width: 100%;
  }
  
  .product-1-img,
  .product-2-img {
    float: none;
    width: 100%;
  }
  
  .product-1-text,
  .product-2-text {
    float: none;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  /* About */
  #about {
    text-align: center;
  }
  
  #about h2 {
    padding-bottom: 20px;
  }
  
  .about-box-1 {
    float: none;
    width: 100%;
  }
  
  .about-box-1 h3 {
    font-size: 40px;
    padding-top: 0px;
  }
  
  .about-box-2 {
    float: none;
    width: 100%;
  }
  
  /* Contact */
  #contact h2 {
    padding-bottom: 20px;
  } 
  
  .contact-description {
    float: none;
    width: 100%;
  }
  
  .contact-description p {
    padding-top: 0px;
  }
  
  .contact-form {
    float: none;
    width: 100%;
    padding: 30px;
  }
